@import "tailwindcss";

@theme {
  --color-background-main: #0b1612;
  --color-button-primary-yellow: #e2bb7f;
  --color-button-primary-green: #21966f;

  --color-title-yellow: #b9ad7a;

  --color-border-hero-badge: #0f382a;
  --color-background-hero-badge: #11241d;

  --color-background-green-section2: #0d1e18;
  --color-background-card: #10211b; /* searchbox and power by ai section */
  --color-border-card: #1e3c32;
  --color-background-icon-card: #133127;
  --color-icon-card: #39866d;

  --color-background-car-card: #13241e;


  --color-divider-line: #1f2c25;
}

body {
  background-color: #0b1612;
}